.header-container {
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background-color: #e8e8e8;
}

.header-counter {
    display: flex;
    margin-left: auto;
    padding-right: var(--spacing-small);
    font-weight: bold;
    cursor: pointer;
    align-items: center;
}

.icon-basket {
    width: 25px;
    height: 25px;
}